.logoinicio{
  width: 30px;
  height:30px;
}
.footer {
  background-color:	#2196f3;
  border-top: 	#1465bb;/*utilizan para establecer de forma abreviada el valor de una o más propiedades individuales.*/
  padding-top: 3rem;/*establece el espacio de relleno requerido en la parte superior del elemento*/
  bottom:-100%;/*especifica parte de la posición de un elemento (posicionado - es decir, con una posición determinada por código).*/
  width: 100%;/*especifica la anchura del area de contenido de un elemento.*/
  box-shadow: 0px -18px 36px -16px rgba(0,0,0,0.52);/*permite proyectar una sombra difuminada desde el marco de casi cualquier elemento.*/
  padding: 3rem 0;/*establece el espacio de relleno requerido por todos los lados de un elemento.*/
  margin-top: 40px;
}
.footer .container3{
  display: grid;/*especifica si un elemento es tratado como block or inline element y el diseño usado por sus hijos, como flow layout(Diseño de Flujo), grid(Cuadricula) o flex(Flexible). Formalmente la propiedad display establece los tipos de visualización interna y externa de un elemento.*/
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );/*define el nombre de las líneas y las funciones de tamaño de línea de grid columns.*/
  grid-gap: 1rem;/*nos permite determinar los espaciados entre los elementos.*/
}
/* .footer .container3 {
  padding: 2px;
} */

.footer #principal a{
  color: rgb(255, 255, 255);
  font-family: 'Times';
  text-decoration: none;
  display: block;
  padding-top: .5rem;
  text-align: center;
  /* margin-right:150px; */
}

.footer #secundaria a{
  color: rgb(255, 255, 255);
  font-family: 'Times';
  text-decoration: none;
  display: block;
  padding-top: .5rem;
  text-align: center;
  /* margin-left:150px; */
}

.footer #principal a:hover
{
  color: #000000;
}

.footer #secundaria a:hover
{
  color: #000000;
}

.sociales li {
  display: flex;
  margin:20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: flex-end;
  /* justify-content: center;
  justify-content: space-around; */
  /* justify-content: space-between; */
  text-align: center;
  flex:1 0 auto;
  list-style: none;
}
.sociales ul li {
  margin-right: 1rem;
}
.sociales ul li:last-of-type {
  margin-right: 0;
}

.sociales ul li a {
  text-decoration: none;
  padding: 2px 5px;
  text-align: center;
}

.sociales ul li span{
  display: none;
}

footer,
menu,
nav
{
  display: block;
}

.colu {
  display: flex;
  margin: 20px 20px 0px 100px;
}
.menu {
  padding: 0px 45px 0px 0px;
  padding-left: 50px;
  font-size: 20px;
}
